/* universal styling */

body{
margin: 0;
padding: 0;
max-width: 100%;
margin: 0 auto;



}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




/* Styling header */

#header-container{
    background: #F8F8F8 0% 0% no-repeat padding-box;
    max-width: 100%;
    height: 200px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 10px;
    font-family: Lora;
    
}

/* left part of the header */
#header-left{
    line-height: 5mm;
    /* border: 1px solid green; */
    height: 30%;
    font-weight: 900;
    
}

#header-left p{
    text-transform: uppercase;
    color: #1792D2;
}

#header-left h1{
    color: #143774;
}

/* Right part of the header */
#header-right{
    width: 25%;
    height: 30%;
    /* border: 1px solid grey; */
    padding-top: 15px;
    display: flex;   
    justify-content: space-around;
    
}

#header-right a{
    text-decoration: none;
    color: #717171;
    /* border: 1px solid brown; */
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 10px;
    margin-bottom: 10px;

}

#header-right a#home{
   border-bottom: 1px solid black;
   

}

#header-right a:hover{
   border-bottom: 1px solid black;
   

}

/* universal for body section */
#big-container{
    display: flex;
    /* border: 1px solid red; */
    margin: 0 auto;
    max-width: 80%;
    justify-content: space-around;
}

#caption{
    font-style: italic;
    font-size: 10px;
    margin: 10px 0 10px 0;
}

/* styling of left container */
#left-container{
    display: flex;
    max-width: 40%;
    /* border: 1px solid green; */
    flex-direction: column;   
}

.left{
    /* border: 1px solid blue; */
}

#left-box1{
    padding-top: 10px;
}


#left-box1 img{
   width: 100%;
   height: 250px;
}


#left-box2{
    height: 160px;
    border-bottom: 2px solid #717171;
}

.continue{
    text-decoration: none;
    color:#1792D2;
    text-transform: uppercase;
    font-size: 10px;
}

.continue:hover{
    color: red;
}

#left-box2 h3, #left-box2 p{
    margin: 7px 0 7px 0;
}
#left-box2 h3{
    color: #143774;
}

#left-box2 span{
    color: #1792D2;
}

#left-box3, #left-box4, #left-box5, #left-box6{
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 0;
}

#image-container{
    width: 40%;
}

 #text-container{
    width: 40%;
}

#text-container p{
    margin: 10px 0 10px 0;
}

/* styling of right container */
#right-container{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    max-width: 15%;
    padding: 10px 0 10px 0;
}
.right{
    text-align: center;
}

#right-box1, #right-box2{
    background: #FFFFFF;
    border: 20px solid #F8F8F8;
    width: 100%;
    margin: 0 auto;
    color: #143774;
    padding: 10px;
}


#right-container img{
    width: 80%;
    height: 100px;
    margin: 10px 0 10px 0;
}


 #right-box2{
     /* border: 1px solid green; */
     margin-top: 100px;
 }

 
 #right-box2 p{
     border-bottom: 2px solid #F8F8F8;
     padding-bottom: 10px;
 }

 /* styling of footer */
 #footer{
    background: #143774;
    color: white;
    height: 100px;
    position: relative;
 }

 #footer-text{
     position: absolute;
     top: 50%;
     left: 50%;
    
 }

 @media(max-width:960px){
     body{
         background: #1792D2;
     }
 }










